{{ define "main" }}
	<div class="ben-container">
		{{ with .Content }}
			{{ . }}
		{{ else }}
			<h3>From README.md</h3>
			{{readFile "README.md" | markdownify}}
		{{ end }}
	</div>
	{{ with .Params.sections }}
		{{ range . }}
		<div class="ben-Section" 
			style="{{ with .background_color }}background-color:{{ . }};{{ end }}{{ with .background_image }}background-image:url({{ partial "image" (dict "page" $ "image" . ) }}){{ end }};"
		>
			<div class="ben-container">
				<h4>{{ .title }}</h4>
				<div>
					{{ .text | markdownify }}
				</div>
			</div>
		</div>
		{{ end }}
	{{ end}}
{{ end }}